<a href="https://colab.research.google.com/github/abhi2896/Data_Science/blob/main/Complete_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.tree import DecisionTreeClassifier

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/heart_new.csv")

In [ ]:
df.head()

    Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0  40.0   M           ATA  ...      0.0        Up            NO
1  49.0   F           NAP  ...      1.0      Flat           Yes
2  37.0   M           ATA  ...      0.0        Up            NO
3  48.0   F           ASY  ...      1.5      Flat           Yes
4  54.0   M           NAP  ...      0.0        Up            NO

[5 rows x 12 columns]

In [ ]:
df.shape

(918, 12)

In [ ]:
for i in df.columns:
  print (str(i) + "  " +  str(df[i].nunique()))

Age  50
Sex  2
ChestPainType  4
RestingBP  67
Cholesterol  222
FastingBS  2
RestingECG  3
MaxHR  119
ExerciseAngina  2
Oldpeak  53
ST_Slope  3
HeartDisease  2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             898 non-null    float64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 86.2+ KB

In [ ]:
df[df["Age"].isnull()]

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
5    NaN   M           NAP  ...      0.0        Up            NO
6    NaN   F           ATA  ...      0.0        Up            NO
23   NaN   M           ATA  ...      3.0      Flat           Yes
41   NaN   F           NAP  ...      0.0      Flat           Yes
52   NaN   M           ATA  ...      0.0        Up            NO
70   NaN   M           ATA  ...      1.0      Flat           Yes
140  NaN   M           ASY  ...      2.5      Flat           Yes
190  NaN   M           ASY  ...      0.0        Up            NO
226  NaN   M           NAP  ...      0.0        Up            NO
257  NaN   M           NAP  ...      0.0        Up            NO
294  NaN   M            TA  ...      0.7        Up           Yes
330  NaN   M           NAP  ...      2.4        Up           Yes
433  NaN   M           ASY  ...      2.0      Flat           Yes
511  NaN   M           ASY  ...      2.0      Flat           Yes
587  NaN   M           NAP  ...      1.0      Flat            NO
645  NaN   M           NAP  ...      0.4      Flat           Yes
700  NaN   M            TA  ...      0.8        Up            NO
767  NaN   F           NAP  ...      0.0        Up            NO
801  NaN   M           ASY  ...      2.1      Flat           Yes
857  NaN   F           ASY  ...      0.4      Flat            NO

[20 rows x 12 columns]

In [ ]:
df.head(7) # lets do not drop the NaN values , Impute It

    Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0  40.0   M           ATA  ...      0.0        Up            NO
1  49.0   F           NAP  ...      1.0      Flat           Yes
2  37.0   M           ATA  ...      0.0        Up            NO
3  48.0   F           ASY  ...      1.5      Flat           Yes
4  54.0   M           NAP  ...      0.0        Up            NO
5   NaN   M           NAP  ...      0.0        Up            NO
6   NaN   F           ATA  ...      0.0        Up            NO

[7 rows x 12 columns]

In [ ]:
df.shape

(918, 12)

In [ ]:
df.isnull().sum()

Age               20
Sex                0
ChestPainType      0
RestingBP          0
Cholesterol        0
FastingBS          0
RestingECG         0
MaxHR              0
ExerciseAngina     0
Oldpeak            0
ST_Slope           0
HeartDisease       0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             898 non-null    float64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 86.2+ KB

In [ ]:
#Sex(2) , ExerciseAngina(2) (only 2cat) //  ChestPainType , RestingECG , ST_Slope , // HeartDisease(o/p) >> Encoding

In [ ]:
# sex , ExerciseAngina -> Nominal Encoding (OneHotEncoding)
# ChestPainType , RestingECG , ST_Slope -> order matters (ordinal encoding)
# HeartDisease -> Lable Encoding (output col.)

In [ ]:
# Dropping some cols
df = df.drop(["ChestPainType" , "RestingECG" , "ST_Slope"] , axis = 1)

In [ ]:
from sklearn.preprocessing import LabelEncoder   #LabelEncoder => only for output col.
LE = LabelEncoder()

df["HeartDisease"] = LE.fit_transform(df["HeartDisease"])

In [ ]:
df.HeartDisease

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [ ]:
df  = df.drop([5,6,23,41,52,70,140,190,226,257,294,330,433,511,587,645,700,767,801,857], axis=0)

In [ ]:
df.sample(3)

      Age Sex  RestingBP  ...  ExerciseAngina  Oldpeak  HeartDisease
879  48.0   M        110  ...               N      1.0             1
421  66.0   M        120  ...               N     -0.5             0
329  60.0   M        130  ...               Y      1.1             1

[3 rows x 9 columns]

In [ ]:
X = df.iloc[:,0:-1] #Inputs
Y = df.iloc[:,-1]   #Outputs

In [ ]:
# Step 1 -> train/test/split
X_train,X_test,y_train,y_test = train_test_split(X , Y ,test_size=0.2,random_state=42)

In [ ]:
# Step 2 -> imputation transformer 
trf1 = ColumnTransformer([
    ('impute_age',SimpleImputer(),[0])], remainder="passthrough")

#when more than 2 columns 

trf1 = ColumnTransformer([
    ('impute_age',SimpleImputer(),[2]),
    ('impute_embarked',SimpleImputer(strategy='most_frequent'),[6])
],remainder='passthrough')

In [ ]:
# Step 3 -> one hot encoding
trf2 = ColumnTransformer([
    ('OHE_Sex_ExerciseAngina',OneHotEncoder(sparse=False,handle_unknown='ignore'),[1,6])
],remainder='passthrough')


# We can also do this with get_dummies!
#one_hot_encoded_data = pd.get_dummies(df, columns = ['Sex', 'ExerciseAngina'] , drop_first = True)
#print(one_hot_encoded_data)   #do not remembers nposition

In [ ]:
# Step 4 -> Ordinal Encoding
trf3 = ColumnTransformer([
    ('Ordinal',OrdinalEncoder(handle_unknown='ignore'),[2,6,10])
],remainder='passthrough')

In [ ]:
# Step 5 -> Scaling
trf4 = ColumnTransformer([
    ('scale',MinMaxScaler(),slice(0,10))
])

In [ ]:
# Step 6 -> Feature selection
trf5 = SelectKBest(score_func=chi2,k=8)

In [ ]:
# Step 7 -> train the model
trf6 = DecisionTreeClassifier(max_depth = None)

#Create Pipeline (2 ways)

In [ ]:
#1.
'''
pipe = Pipeline([
    ('trf1',trf1),
    ('trf2',trf2),
    ('trf3',trf3),
    ('trf4',trf4),
    ('trf5',trf5),
    ('trf6',trf6)
])'''

In [ ]:
#2
# Alternate Syntax Pipeline requires naming of steps, make_pipeline does not.
#(Same applies to ColumnTransformer vs make_column_transformer)


pipe = make_pipeline(trf2,trf6)

In [ ]:
# train
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('OHE_Sex_ExerciseAngina',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 6])])),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

# PART-2 Explore the Pipeline

In [ ]:
# Code here (which are the steps i have run)
pipe.named_steps

{'columntransformer': ColumnTransformer(remainder='passthrough',
                   transformers=[('OHE_Sex_ExerciseAngina',
                                  OneHotEncoder(handle_unknown='ignore',
                                                sparse=False),
                                  [1, 6])]),
 'decisiontreeclassifier': DecisionTreeClassifier()}

In [ ]:
# Display Pipeline

from sklearn import set_config
set_config(display='diagram')

In [ ]:
# Predict
y_pred = pipe.predict(X_test)

In [ ]:
y_pred

array([1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7277777777777777

In [ ]:
#Cross Validation using Pipeline
# cross validation using cross_val_score

from sklearn.model_selection import cross_val_score
cross_val_score(pipe, X_train, y_train, cv=5, scoring='accuracy').mean()

0.7256118881118881

In [ ]:
#GridSearch using Pipeline
#gridsearchcv
params = {
    'trf6__max_depth': [1,2,3,4,5]
}

In [ ]:
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(pipe, params, cv=5, scoring='accuracy')
#grid.fit(X_train,y_train) #getting error in this
#grid.best_score_
#grid.best_params_

Exporting the Pipeline

In [ ]:
# export 
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))